<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

</head>
<body>
	<h3>model</h3>
	链接：https://www.jianshu.com/p/b9b513cf0600
	<input type="text" data-provide="typeahead" autocomplete="off" id="input"/>
<input type="hidden" id="hidden"/>
<script th:inline="javascript">
    $(document).ready(function() {
        var objects = {};
        $("#input").typeahead({
        	source : function(query, process) {
				return $.ajax({
					url : '/get',
					type : 'post',
					data : {
						name : query
					},
					success : function(result) {
						return process(result);
					},
				});
			},
            afterSelect: function (item) {       //选择项之后的事件，item是当前选中的选项
                $("#hidden").val(objects[item]); //为隐藏输入框赋值
            },
        });
    });
</script>
</body>
</html>